nav{
    display: flex;
    justify-content: center;
   padding-bottom: 100px;
}
nav a{
    color: white;
   text-decoration: none;
    padding:5px 20px;
    margin-left: 15px;
    background-color: coral;
    border: 2px solid tomato;
    border-radius: 5px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.felixable-container{
    display: flex;
    margin-bottom: 150px;
}
@media (max-width: 700px) {
    .felixable-container{
        flex-direction: column;
    }
    
}


.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
}
.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
   background-image:linear-gradient(orangered,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.link-button:hover{
    background:red;
    color:yellow;
   

}
.Top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.center-text{
    text-align: center;
}
.exp-module{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}

#programmer-xp{
    border-left: 7px solid;
    border-image: linear-gradient(orangered,tomato);
    border-image-slice: 1;
}
#programmer-xp:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

#web-xp{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1; 
}
#web-xp:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}